.idea


# MAC
.DS_Store

# Windows
Thumbs.db

# Cake TMP Dirs
app/tmp/*
!app/tmp/

app/tmp/cache/*
!app/tmp/cache/
!app/tmp/cache/empty
!app/tmp/asset_compress_build_time

app/tmp/cache/attempts/*
!app/tmp/cache/attempts/
!app/tmp/cache/attempts/empty

app/tmp/cache/models/*
!app/tmp/cache/models/
!app/tmp/cache/models/empty

app/tmp/cache/persistent/*
!app/tmp/cache/persistent/
!app/tmp/cache/persistent/empty

app/tmp/cache/views/*
!app/tmp/cache/views/
!app/tmp/cache/views/empty

app/tmp/logs/*
!app/tmp/logs/
!app/tmp/logs/empty

app/tmp/sessions/*
!app/tmp/sessions/
!app/tmp/sessions/empty

app/tmp/tests/*
!app/tmp/tests/
!app/tmp/tests/empty

app/webroot/files/*
!app/webroot/files/
!app/webroot/files/empty
